{
  "openapi": "3.0.0",
  "info": {
    "title": "Switch API",
    "version": "1.0",
    "description": "# Introduction\n\nExposify Switch is a service that lets you easily distribute real estate data to different platforms. Send your data once – publish it on all the platforms.\n\nIf you are building a real estate application you often need to bring offers to platforms like Immobilienscout24, Immowelt or Ebay Kleinanzeigen. Some of them have their own API, some of them use OpenImmo. Some use old FTP servers to transfer data, some complicated OAuth flows.\n\nSwitch exposes one beautiful API so you don't have to worry about all of that.\n\n# Getting started\n\nYou can just use your account to easily test things.",
    "contact": {}
  },
  "x-stoplight": {
    "docs": {
      "showModels": false
    }
  },
  "servers": [
    {
      "url": "http://switch.exposify.io"
    }
  ],
  "paths": {
    "/properties": {
      "post": {
        "summary": "Create a property",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./models/property-new.v1.json"
              }
            }
          },
          "description": ""
        },
        "operationId": "",
        "description": "Add a new property to your account.",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "summary": "List all properties",
        "description": "Return all properties of your account.",
        "requestBody": {
          "description": ""
        },
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "api-key": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "./models/property.v1.json"
                  }
                }
              }
            }
          }
        },
        "operationId": ""
      }
    },
    "/targets": {
      "get": {
        "summary": "List all targets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "./models/target.v1.json"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Targets"
        ],
        "description": "",
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "post": {
        "summary": "Create a new target",
        "tags": [
          "Targets"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./models/target-new.v1.json"
              }
            }
          },
          "description": ""
        },
        "description": "**For targets `ebay-kleinanzeigen` and `immowelt`**\n\nFor these targets you need to provide FTP credentials that you or a third party can receive from the corresponding platforms.\n\n**For target `immobilienscout-24`**\n\nWhen you want to publish properties on behalf of a third party on Immobilienscout24 you need to let them approve the connection between you and the target first. \n\nUsually this is [a complicated procedure](https://api.immobilienscout24.de/useful/authentication/authentication-detailed.html) however Switch makes the process very easy. Just provide a URL the third party should be redirected to when everything is done.\n\nTo get started, make sure you have setup your account oauth consumer credentials. After creating the target make sure to redirect the third party to the URL that comes with the response. It will take them to a Immobilienscout24 page where they are asked to connect your app with their account. If they approve they will be redirect to the URL you initially provided in the create request. From now on the target is active and you can add listings to it."
      }
    },
    "/properties/{id}": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The ID of the property."
        }
      ],
      "get": {
        "summary": "Get a property",
        "tags": [
          "Properties"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/property.v1.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "description": "Return the specific property of your account.",
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "put": {
        "summary": "Update a property",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "description": "When you update the property Switch will automatically publish it to all targets it is currently listed on. This means that corresponding webhooks will be fired again when the listing was updated successfully.",
        "security": [
          {
            "api-key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./models/property-new.v1.json"
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Properties"
        ]
      },
      "delete": {
        "summary": "Delete a property",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "description": "Permanently delete a property and all of it listings. Already published listings will remain on the platform of their target if one does not remove them explicitely beforehand.",
        "security": [
          {
            "api-key": []
          }
        ],
        "tags": [
          "Properties"
        ]
      }
    },
    "/targets/{id}": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The ID of the target."
        }
      ],
      "get": {
        "summary": "Get a target",
        "tags": [
          "Targets"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/target.v1.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "description": "",
        "security": [
          {
            "api-key": []
          }
        ],
        "requestBody": {}
      },
      "delete": {
        "summary": "Delete a target",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "description": "Permanently delete a target and all of its listings. Already published listings will remain on the platform of the target if one does not remove them explicitely beforehand.",
        "tags": [
          "Targets"
        ],
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/listings": {
      "get": {
        "summary": "Get all listings",
        "tags": [
          "Listings"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "./models/listing.v1.json"
                  }
                }
              }
            }
          }
        },
        "description": "",
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "post": {
        "summary": "Create a listing",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "description": "Create a new listing and hence publish the property. The action will be processed in our queue. We will post to your webhook when the listing has been created successfully.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./models/listing-new.v1.json"
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/listings/{id}": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The ID of the listing."
        }
      ],
      "get": {
        "summary": "Get a listing",
        "tags": [
          "Listings"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/listing.v1.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a listing",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./models/response.v1.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "tags": [
          "Listings"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api-key": {
        "name": "Authentication",
        "type": "apiKey",
        "in": "header",
        "description": "When you sign up for an account a first API key will be automatically added. You can use it to publish and modify resources."
      }
    }
  }
}