{
  "openapi": "3.0.0",
  "info": {
    "title": "Switch API",
    "version": "1.0",
    "description": "Technical Documentation for the Switch API."
  },
  "servers": [
    {
      "url": "http://switch.exposify.io"
    },
    {
      "url": "http://sandbox.switch.exposify.io",
      "description": ""
    }
  ],
  "paths": {
    "/properties": {
      "post": {
        "summary": "Create a property",
        "responses": {},
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./models/property.v1.json"
              }
            }
          }
        },
        "operationId": "",
        "description": "",
        "tags": [
          "Properties"
        ]
      },
      "put": {
        "summary": "Update a property",
        "responses": {},
        "tags": [
          "Properties"
        ]
      },
      "delete": {
        "summary": "Delete a property",
        "responses": {},
        "tags": [
          "Properties"
        ]
      },
      "get": {
        "summary": "List all properties",
        "description": "",
        "requestBody": {},
        "tags": [
          "Properties"
        ]
      }
    },
    "/targets": {
      "get": {
        "summary": "List all targets",
        "responses": {},
        "tags": [
          "Targets"
        ]
      },
      "post": {
        "summary": "Create a new target",
        "tags": [
          "Targets"
        ],
        "responses": {}
      },
      "put": {
        "summary": "Update a target",
        "tags": [
          "Targets"
        ],
        "responses": {}
      },
      "delete": {
        "summary": "Delete a target",
        "tags": [
          "Targets"
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "securitySchemes": {
      "example-key": {
        "name": "API Key",
        "type": "apiKey",
        "in": "query"
      }
    }
  }
}